@import "../../../styles/styles.scss";

.recoms {
  margin-top: 100px;
  max-height: 432px;
  width: 285px;
  position: fixed;
  &-you-img-outer {
    width: 65px;
    height: 65px;
    @include daj(flex, center, center);
  }
  &-other {
    height: 46px;
    @include daj(flex, space-between, center);
  }
  &-you {
    @include daj(flex, space-between, center);
    margin-bottom: 24px;
  }
  &-you-info,
  &-other-info {
    @include daj(flex, none, center);
  }
  &-bluetext {
    font-size: 0.85715rem;
  }
  &-texts {
    margin-bottom: 12px;
    @include daj(flex, space-between, none);
  }

  &-footer {
    li {
      display: inline;
      margin-right: 5px;
    }
  }
}
