@import "./../../../styles/styles.scss";

.stories {
  @extend %grey-border;
  margin-top: 88px;
  &-inner {
    display: flex;
    padding: 14px;
    grid-column-gap: 10px;
    width: 621px;
  }
  .story {
    margin-right: 10px;
    &--author {
      text-align: center;
      margin-top: 2px;
    }
    
  }
}
