@import "../../../../styles/styles.scss";

.postcard {
  background-color: white;
  @extend %grey-border;
  &-header {
    display: flex;
    justify-content: space-between;
  }
  &-header--left {
    display: flex;
    align-items: center;
  }
  &-header--author {
    line-height: 13px;
  }
  &-header--right {
    display: flex;
    align-items: center;
  }
  &-story--author {
    font-size: 0.85715rem;
    text-align: center;
    margin-top: 2px;
  }
  &-story--gradient {
    @include round(40px);
  }
  &-story--white-backgr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    @include round(35px);
  }
  &-story--img {
    object-fit: cover;
    @include round(32px);
  }
  &-content--images {
    width: 100%;
  }
  &-content--image {
    width: 1000px;
  }
  // &-descr--likes-count {
  // }
  &-descr--top {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  &-descr--icons {
    display: flex;
  }
  &-descr--save {
    @include daj(flex, end, none);
  }
  &-descr--scrollpoints {
    @include daj(flex, center, none);
    span {
      margin-right: 4px;
    }
  }
  &-descr--bottom {
    border-top: 1px solid gainsboro;
    display: flex;
    margin-bottom: -14px;
  }
  &-descr--smile-input {
    display: flex;
  }
  &-descr--input {
    width: 100%;
    display: flex;
    align-items: center;
    input {
      width: 100%;
    }
  }
  &-descr--smile {
    height: 23px;
  }
  &-descr--showmore {
    margin-top: 2px;
  }
  &-descr--publish {
    text-align: center;
    opacity: 0.3;
  }
  .scroll {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  .scroll-last {
    margin: 0;
  }
  .scroll1 {
    background-color: #8e8e8e;
  }
  .scroll2 {
    background-color: #0095b6;
  }
}
